:root {
     --primary-text-color: #212121;

}

body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header */
/* Logo main - Шапка сайта */
