:root {
     --header-text-color: #212121;
     --main-text-color:#757575;
     --primary-title-color: #FFFFFF;
     --accent-color: #2196f2;
     --title-color: #000000;
     --footer-link-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: 'Roboto', sans-serif;
    color: #757575;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header */

.logo-title {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-link {
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 00.03em;
    color: var(--title-color);
}


/* Logo main - Шапка сайта */
